.container {
    position: relative;
}

.container .basketballcourt {
    width: 80%;
    height: 950px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.container .basketball {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 850px;
    left: 1400px;
}


.container .basketball.animate {
    animation: goal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes goal {
    0% {top: 850px; left: 1400px;}
    25% {}
    50% {}
    75% {}
    100% {top: 220px; left: 590px;}
}