* {
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.container {
    position: relative;
}

.slides {
    text-align: center;
    display: none;
    height:75vh;
    overflow:hidden;
}

.slides img{
    max-width:100%;
    max-height: 100%;
}

.cursor {
    cursor: pointer;
    opacity: 0.6;
}

.active,
.cursor:hover {
    opacity: 1;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgb(107, 107, 107);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;

}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.column {
    float: left;
    margin: 10px;
}
.thumbnails {
    height: 25vp;
}
.thumbnails:after {
    content: "";
    display: table;
    clear: both;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
p.caption {
    font-size: 20pt;
}